/* This is the ogimet css */

/* This is for google ads */
.adslot_1 { display:inline-block; width: 320px; height: 50px; }
.adslot_2 { display:inline-block; width: 120px; height: 600px; }
.zona_izquierda { width:10% }
.zona_centro { width: 78% }
.zona_derecha {width: 12% }

@media only screen and (max-width: 800px) {
  .adslot_2 { display: none; } 
  .zona_izquierda { width:12% }
  .zona_centro { width: 88% }
  .zona_derecha {width: 0% }
}

@media only screen and (min-width: 500px) { 
  .adslot_1 { width: 468px; height: 60px; } 
}

@media only screen and (min-width: 1024px) { 
  .adslot_1 { width: 768px; height: 90px; }
  .adslot_2 { width: 160px; height: 600px; }
  .zona_izquierda { width:14% }
  .zona_centro { width: 72% }
  .zona_derecha {width: 14% }
}

@media only screen and (min-width: 1900px) { 
  .adslot_2 { width: 300px; height: 600px; } 
  .zona_izquierda { width:15% }
  .zona_centro { width: 70% }
  .zona_derecha {width: 15% }
}


.val0 , .val1, .val3, .rval {
      color: blue;
      font-weight: bold;
      text-align: right;
 }

.desc {
      color: green;
      text-align: center;
      font-weight: bold;
      width: 80 px;
}

.name {
      color: #aa5555;
      font-weight: bold;
      text-align: left;
}

.unit {
      color: #5555aa;
      text-align: left;
}

.ctable {
      color: #999944;
      font-weight: bold;
      text-align: left;
}

.cval {
      color: blue;
      font-weight: bold;
      text-align: left;
}

.ival, .hval {
      color: #55aa55;
      font-weight: bold;
      text-align: right;
}

.missing {
      color: #999999;
      text-align: right;
}

.itop {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #aaccaa;
    color: black;
    width: 200px;
}

.itop li {
  position: relative;
  width: 10em;
}

.itop li ul {
  position: relative;
  width: 10em;
  display: none;
}

.itop li:hover ul {
  display: block;
}

.paper, .bufrname_help {
   background-color: white ;
}

.bufr_sec0 , .bufr_sec4 {
   background-color: white ;
   border-style: solid;
   border-width: medium;
   border-color: blue;
   font-family: "monospace", sans-serif;
   font-size: 13px;
   width: 200px;
   display: none;
}

.bufr_sec1 {
   background-color: white ;
   border-style: solid;
   border-width: medium;
   border-color: blue;
   font-family: "monospace", sans-serif;
   font-size: 13px;
   width: 500px;
   display: none;
}

.bufr_sec3 {
   background-color: white ;
   border-style: solid;
   border-width: medium;
   border-color: blue;
   font-family: "monospace", sans-serif;
   font-size: 13px;
   width: 300px;
   display: none;
}

.bufr_tree, .bufr_comp_ref {
   background-color: white ;
   border-style: solid;
   border-width: medium;
   border-color: blue;
   font-family: "monospace", sans-serif;
   font-size: 12px;
   text-align: left;
   display: none;
}

.bufr_subset table {
    border-collapse: collapse;
}

.bufr_subset table td {
    border: 1px solid black;
}

.bufr_subset {
   background-color: white ;
   border-style: solid;
   border-width: medium;
   border-color: green;
   font-family: "monospace", sans-serif;
   font-size: 12px;
   display: none;
}

/* for cookies consent */
#overlay_cookie {
    position: fixed;
    top: 5%;
    left: 10%;
    right: 10%;
    font-size: 14pt;
    color: white;
    background-color: rgba(240,60,20,0.9);
    z-index: 2;
    cursor: pointer;
    display: none;
}

#button_cookie
{
    background-color: yellow;
    align-content: right;
    font-size: 14pt;
}

/* for some commons elements */
body, th, td, select, input, i, b, p{font-family: verdana, sans-serif; font-size: 13px; }
pre {font-family: verdana, monospace; font-size: 11px; }
caption {
   font-family: "monospace", sans-serif;
   font-weight: bold;
   font-size: 16px;
}

/* for some classes */

.border_black {
  border: 1px solid black;
  border-collapse: collapse;
}

.border_white {
  border: 1px solid white;
  border-collapse: collapse;
}

.border_blue {
  border: 1px solid blue;
  border-collapse: collapse;
}

.border_gray {
  border: 1px solid gray;
  border-collapse: collapse;
}

.border_brown {
  border: 1px solid brown;
  border-collapse: collapse;
}

